* {
  font-family: Arial;
}

.center {
  text-align: center;
}

.hr-thick {
  border-top: 2px solid black;
  width: 100%;
}

.nav-group {
  width: 100%;
  display: inline-block;
}
.nav-group h2 {
  float: left;
  width: auto;
  font-size: 3em;
  margin-bottom: 0;
}
