* {
  font-family: Arial;
}

.hr-thick {
  border-top: 2px solid black;
  width: 100%;
}

.nav {
  font-size: 14px;
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none; border:0;
}
.nav li {
  float: left;
}

.nav-btn {
  margin: 0 3px 0 0;
  font-size: 15px;
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #000;
  background-color: #f2f2f2;
  border: 1px solid #c1c1c1;
}
.nav-btn:hover {
  background-color: #f2e4d5;
}

.user-control {
  display: inline-block;
  float: right;
  padding: 0;
}

.nav-group {
  width: 100%;
  display: inline-block;
}
.nav-group h2 {
  float: left;
  width: auto;
  font-size: 3em;
  margin-bottom: 0;
}
